:root {
    --premaryColor: #ff274b;
    --seconColor: #f7bcf7;
    --lightColor: #ffffff;
    --bgColor: #171e1c;
    --bgColor-2: #22282a;
    --padding: 8%
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
     flex-wrap: wrap ;
}

header {
    background-color: var(--premaryColor);
    flex-basis: 100%;

}

img {
    width: 80px;
}

section {
    flex-basis: 60%;
    background-color: var(--seconColor);
}

.one-1 {
    background-color: var(--bgColor-2);
}
.right-side{
    background-color: blueviolet;
flex-basis: 20%;
}
.left-side {
    flex-basis: 20%;
    background-color: var(--bgColor-2);
}

footer {
    flex-basis: 100%;
    background-color: var(--premaryColor);
}